

.m {
  background: #ccc;
  width: 100%;
  height: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bordinha {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}


.amarelo {
  background: #FFDF3E !important;
}

.amarelo:houver {
  background: red;
}

.accordion {
  margin-bottom: 150px;
}


.sucess textarea{
  border: 3px solid green;
}

.error textarea{
  border: 3px solid red;
}

.form-floating.error small {
  visibility: visible;
  color: red;
}

.form-floating.sucess small{
  visibility: visible;
}

.form-floating small {
  visibility:hidden;
}


textarea {
  width: 60%;
  height: 600px;
}

input {
  position: absolute;

}

small {
  position: absolute;
  margin-left: 75px;
  margin-top: 5px;
}